<dialog id="editFolderModal">
  <article>
    <header>
      <h3>Edit Folder</h3>
      <button
        aria-label="Close"
        rel="prev"
        data-target="editFolderModal"
        onclick="toggleModal(event)"
      ></button>
    </header>
    <!-- Post request to /new-folder if currentFolder doesn't exist -->
    <form method="post" action="/vault/<%= folder.id %>/edit-folder">
      <input
        type="text"
        name="folderName"
        id="folderName"
        placeholder="Enter Folder Name!"
        value=<%= folder.name %> 
        required
      />
      <button
        type="submit"
        autofocus
        data-target="editFolderModal"
      >
        Submit
      </button>
    </form>
  </article>
</dialog>
