<dialog id="fileUploadModal">
  <article>
    <header>
      <h3>Upload New File</h3>
      <button
        aria-label="Close"
        rel="prev"
        data-target="fileUploadModal"
        onclick="toggleModal(event)"
      ></button>
    </header>
    <form 
    <% if (locals.currentFolder) { %>
      action="/vault/<%= currentFolder.id %>/file-upload"
    <% } else { %>
      action="/vault/file-upload"
    <% } %> 
    enctype="multipart/form-data" 
    method="post"
    >
      <input type="file" name="uploadedFile" id="uploadedFile" required />
      <button
        type="submit"
        autofocus
        data-target="fileUploadModal"
      >
        Submit
      </button>
    </form>
  </article>
</dialog>
