<header class="container">
  <a href="/" aria-label="FileVault homepage" class="mainLogo contrast"
    ><%- include("../svg/fileVaultLogo.svg") %> FileVault</a
  >
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <% if (locals.user) { %>
      <li><a href="/logout">Logout</a></li>
      <% } else { %>
      <li><a href="/login">Login</a></li>
      <li><a href="/sign-up">Sign up</a></li>
      <% } %>
    </ul>
  </nav>
</header>
