<dialog id="newFolderModal">
  <article>
    <header>
      <h3>Create New Folder</h3>
      <button
        aria-label="Close"
        rel="prev"
        data-target="newFolderModal"
        onclick="toggleModal(event)"
      ></button>
    </header>
    <!-- Post request to /new-folder if currentFolderArr is empty -->
    <form method="post"
    <% if (locals.currentFolder) { %>
      action="/vault/<%= currentFolder.id %>/new-folder"
    <% } else { %>
      action="/vault/new-folder"
      
    <% } %> 
    >
      <input
        type="text"
        name="folderName"
        id="folderName"
        placeholder="Enter Folder Name!"
        required
      />
      <button
        type="submit"
        autofocus
        data-target="newFolderModal"
      >
        Submit
      </button>
    </form>
  </article>
</dialog>
