<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <body data-theme="light">
    <%- include("partials/header") %>
    <main class="container">
      <% if (locals.user) { %>
       <%- include("home") %>
      <% } else { %>
        <%- include("lander") %> 
        <% } %> 
    </main>
  </body>
</html>
