<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include("partials/head") %>
  </head>
  <body>
    <%- include("partials/header") %>
    <main class="container form">
      <section>
        <h1>Create new account</h1>
        <form action="/sign-up" method="post">
          <input
            type="text"
            name="name"
            id="name"
            placeholder="Enter Your Fullname"
            required
          />
          <input
            type="email"
            name="email"
            id="email"
            placeholder="Enter your Email Id"
            required
          />
          <fieldset class="grid">
            <input
              type="password"
              name="password"
              id="password"
              placeholder="Use a strong password"
              required
            />
            <input
              type="password"
              name="confirmPassword"
              id="confirmPassword"
              placeholder="Re-enter password"
              required
            />
          </fieldset>
          <button type="submit" class="submitBtn">Sign Up</button>
        </form>
        <%- include("partials/errors") %>
      </section>
    </main>
  </body>
</html>
